{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md mb-3">
            <p>{{ last_name }}, {{ first_name }}</p>
            <p><i>{{ school }}</i></p>
            <br />
            <br />
            <p><b>THANK YOU FOR REGISTERING FOR INTER-ED'S 29TH CAREER CONSULTATION AND GUIDANCE FAIR - SEPT 17 & 18 - WORLD TRADE CENTER, MANILA.</b></p>
            <p>We look forward to welcoming you to the event.</p>
            <p><i>Please check your email and have your QR Code image saved on your phone or print it. It will serve as your ticket to the event!</i></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md mb-3">
            <p>
                As part of Inter-Ed's 29th Career Consultation & Guidance Fair, Profiles Asia Pacific Inc. is giving you a free access to our Mini Personal Interest Profile (PIP) Assessment.
            </p>
            <p>
                Please click <a href="http://assessmentcenter.ph/InterEd2/sip/index.php?val=cm9nZXJfYmFydGhvXzE4NTA=">here</a> to take the Assessment.
            </p>
        </div>
    </div>
{% endblock %}
