{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md mb-3">
            <p>{{ last_name }}, {{ first_name }}</p>
            <p><i>{{ school }}</i></p>
            <br />
            <br />
            <p><b>THANK YOU FOR REGISTERING FOR INTER-ED'S 28TH CAREER CONSULTATION AND GUIDANCE FAIR - SEPT 4 & 5 - WORLD TRADE CENTER, MANILA.</b></p>
            <p>We look forward to welcoming you to the event.</p>
            <p><i>Please check your email and have your QR Code image saved on your phone or print it. It will serve as your ticket to the event!</i></p>
        </div>
    </div>
{% endblock %}
