{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md mb-3">
            <p>{{ last_name }}, {{ first_name }}</p>
            <p><i>{{ school }}</i></p>
            <br />
            <br />
            <p><b>THANK YOU FOR REGISTERING FOR INTER-ED'S 29TH CAREER CONSULTATION AND GUIDANCE FAIR - SEPT 17 & 18 - WORLD TRADE CENTER, MANILA.</b></p>
            <p>We look forward to welcoming you to the event.</p>
            <p><mark><b><i>Please check the attached QR Code image and save it on your phone or print it. It will serve as your ticket to the event!</i></b></mark></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md mb-3">
            <p>
                As part of Inter-Ed's 29th Career Consultation & Guidance Fair, Profiles Asia Pacific Inc. is giving you a free access to their Personal Interest Profile (PIP) Assessment.
            </p>
            <p>
                Please click <a href="https://peopledynamics.asia/InterEd2">here</a> if you would like to take the Assessment and use these credentials to log-in: USERNAME: selfpip  PASSWORD: register
            </p>
        </div>
    </div>
{% endblock %}
