{% extends 'base.html' %}
{% load staticfiles %}

{% load widget_tweaks %}
{% block content %}
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="{% static "images/2019-CCGF-Logo.jpg" %}" alt="" width="80%">
        <h2>{{ event_name }}</h2>
    </div>
    <div class="row">
        <div class="w-100"></div>
        <div class="col-md order-md">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="mb-3">Registration</h4>
                </div>
                <div class="col-md-6 text-right">
                    <a class="btn btn-info" href="{% url 'register' uuid=event_uuid %}">Student Registration</a>
                </div>
            </div>

            <form method="POST">
                {% csrf_token %}

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="last_name">Last Name</label>
                        {% if form.is_bound %}
                            {% if form.last_name.errors %}
                                {% render_field form.last_name class="form-control is-invalid" %}
                                {% for error in form.last_name.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% render_field form.last_name class="form-control is-valid" %}
                            {% endif %}
                        {% else %}
                            {% render_field form.last_name class="form-control" %}
                        {% endif %}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="first_name">First Name</label>
                        {% if form.is_bound %}
                            {% if form.first_name.errors %}
                                {% render_field form.first_name class="form-control is-invalid" %}
                                {% for error in form.first_name.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% render_field form.first_name class="form-control is-valid" %}
                            {% endif %}
                        {% else %}
                            {% render_field form.first_name class="form-control" %}
                        {% endif %}
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="email">Email</label>
                        {% if form.is_bound %}
                            {% if form.email.errors %}
                                {% render_field form.email class="form-control is-invalid" %}
                                {% for error in form.email.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% render_field form.email class="form-control is-valid" %}
                            {% endif %}
                        {% else %}
                            {% render_field form.email class="form-control" type="email" %}
                        {% endif %}
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="mobile_number">Mobile Number</label>
                        {% if form.is_bound %}
                            {% if form.mobile.errors %}
                                {% render_field form.mobile class="form-control is-invalid" %}
                                {% for error in form.mobile.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% render_field form.mobile class="form-control is-valid" %}
                            {% endif %}
                        {% else %}
                            {% render_field form.mobile class="form-control" %}
                        {% endif %}
                    </div>
                    <div class="col-md-2 mb-3 date">
                        <label for="date_of_birth">Birthday</label>
                        {% if form.is_bound %}
                            {% if form.date_of_birth.errors %}
                                {% render_field form.date_of_birth class="form-control is-invalid datepicker" autocomplete="off" %}
                                {% for error in form.date_of_birth.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% render_field form.date_of_birth class="form-control is-valid datepicker" autocomplete="off" %}
                            {% endif %}
                        {% else %}
                            {% render_field form.date_of_birth class="form-control datepicker" autocomplete="off" %}
                        {% endif %}
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="gender">Gender</label>
                        {% if form.is_bound %}
                            {% if form.gender.errors %}
                                {% render_field form.gender class="form-control custom-select d-block w-100 is-invalid" %}
                                {% for error in form.gender.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% render_field form.gender class="form-control custom-select d-block w-100 is-valid" %}
                            {% endif %}
                        {% else %}
                            {% render_field form.gender class="form-control custom-select d-block w-100" %}
                        {% endif %}
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="mb-3">
                    <label for="school">School</label>
                    {% if form.is_bound %}
                        {% if form.school.errors %}
                            {% render_field form.school class="form-control custom-select d-block w-100 is-invalid" required="true" onchange="schoolChange(this)" %}
                            {% for error in form.school.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field form.school class="form-control custom-select d-block w-100 is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field form.school class="form-control custom-select d-block w-100" %}
                    {% endif %}
                    <div id="other-picked" style="display: none">
                        <a href="{% url 'schoolNew' %}" id="add_school" onclick="return showAddPopup(this);"><b>Click
                            here if your school is not on the list</b></a>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="designation">Designation/Position</label>
                        {% if form.is_bound %}
                            {% if form.designation.errors %}
                                {% render_field form.designation class="form-control is-invalid" %}
                                {% for error in form.designation.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% render_field form.designation class="form-control is-valid" %}
                            {% endif %}
                        {% else %}
                            {% render_field form.designation class="form-control w-100" %}
                        {% endif %}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="projected_course">Course Taken</label>
                        {% if form.is_bound %}
                            {% if form.projected_course.errors %}
                                <select name="projected_course"
                                        class="form-control custom-select d-block w-100 is-invalid"
                                        id="id_projected_course">
                                    {% for course in courses %}
                                        <option value="{{ course.0 }}">{{ course.1 }}</option>
                                    {% endfor %}
                                </select>
                                {% for error in form.projected_course.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                <select name="projected_course"
                                        class="form-control custom-select d-block w-100 is-valid"
                                        id="id_projected_course">
                                    {% for course in courses %}
                                        <option value="{{ course.0 }}">{{ course.1 }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                        {% else %}
                            <select name="projected_course" class="form-control custom-select d-block w-100"
                                    id="id_projected_course">
                                {% for course in courses %}
                                    <option value="{{ course.0 }}">{{ course.1 }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                        <span id="other">
                            {% render_field form.other class="form-control" %}
                        </span>
                    </div>
                </div>
                <hr class="mb-4">
                <div class="mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="terms_agreement" required>
                        <label class="custom-control-label" for="terms_agreement"><i>I agree that Inter-Ed may receive
                            the information given so that I can attend the 29th CCGF. None of the data given will be
                            shared with third parties.</i></label>
                    </div>
                </div>
                <hr class="mb-4">
                {% if is_expired %}
                    <button class="btn btn-primary btn-lg btn-block" type="submit" disabled>Registration is Closed
                    </button>
                {% else %}
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
                {% endif %}
            </form>
        </div>
    </div>

    <script>
        function schoolChange(schoolSelect) {
            if (schoolSelect === '89' || schoolSelect === '90') {
                document.getElementById("other-picked").style.display = 'block';
            } else {
                document.getElementById("other-picked").style.display = 'none';
            }
        }
    </script>
    <script>
        $(function () {
            $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "1900:2012",
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("select[name=school]").change(function (event) {
                console.log(event.target.value);
                schoolChange(event.target.value);
            });

            $("#id_mobile").keydown(function (e) {
                // Allow: backspace, delete, tab, escape, enter and .
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
                    // Allow: Ctrl+A, Command+A
                    (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: home, end, left, right, down, up
                    (e.keyCode >= 35 && e.keyCode <= 40)) {
                    // let it happen, don't do anything
                    return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });
        });
    </script>
    <script type="text/javascript">
        function showAddPopup(triggeringLink) {
            var name = triggeringLink.id.replace(/^add_/, '');
            href = triggeringLink.href;
            var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
            win.focus();
            return false;
        }

        function closePopup(win, newID, newRepr, id) {
            $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
            win.close();
        }
    </script>
{% endblock %}